@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

:root {
    --background-color-0: hsl(240, 5%, 11%);
    --background-color-1: hsl(240, 6%, 15%);
    --background-color-2: hsl(240, 7%, 18%);
    --background-color-3: hsl(240, 8%, 22%);
    --background-color-4: hsl(240, 9%, 38%);

    --accent-color-0: hsl(120, 100%, 50%);
    --accent-color-1: hsl(125, 80%, 40%);
    --accent-color-2: hsl(140, 61%, 25%);
    --accent-color-3: hsl(160, 61%, 10%);

    --default-color-1: #ffffff;
    --default-color-2: #d9e1eb;
    --default-color-3: hsl(220, 2%, 72%);

    --font-lead: "Rajdhani", sans-serif;
    --font-body: "aktiv-grotesk", "Segoe UI", Arial, Helvetica, sans-serif;
}

#old {
    --accent-color-0: rgb(255, 100, 0);
    --accent-color-1: rgb(255, 20, 0);
    --accent-color-3: rgb(133, 10, 10);
}

* {
    margin: 0px;
    padding: 0px;
}

*:focus {
    outline: none;
}

body {
    color: white;
    font-family: var(--font-lead);
    background-color: var(--background-color-3);
}

p, a {
    font-family: var(--font-body);
}

h1, h2, h3 {
    font-family: var(--font-lead);
}

:not(:defined) {
    visibility: hidden;
}